# Group By: split-apply-combine

In this notebook we will cover:
* Splitting the data into groups based on some criteria.
* Applying a function to each group independently.
* Combining the results into a data structure.

If you like you can read some more here: https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

# 0. Load data

In [1]:
import pandas as pd

%matplotlib inline

In [3]:
airquality = pd.read_csv("../workshop/data/airquality.csv", delimiter=";", decimal=",")

# rename columns from Dutch to English
airquality.columns = ["time", "location", "component", "value", "airquality_index"]

# 1. Group by

In [5]:
# Group the data based on 'component'

grouped = airquality.groupby("component")
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1137026d0>

Nothing special we've done here, the definition of grouping is just to provide a mapping of labels to group names.

The groups attribute is a dict whose keys are the computed unique groups and corresponding values being the axis labels belonging to each group.


PS: grouping automatically sorts the groups

In [6]:
print(grouped.groups)

{'CO': Int64Index([    0,    12,    15,    22,    28,    35,    42,    49,    57,
               63,
            ...
            45395, 45407, 45409, 45421, 45428, 45435, 45438, 45450, 45454,
            45458],
           dtype='int64', length=6489), 'FN': Int64Index([    3,     9,    17,    25,    31,    38,    44,    52,    59,
               66,
            ...
            45391, 45401, 45406, 45413, 45420, 45423, 45431, 45443, 45444,
            45455],
           dtype='int64', length=6549), 'NO': Int64Index([    1,    13,    16,    23,    29,    36,    48,    50,    58,
               64,
            ...
            45393, 45398, 45403, 45410, 45416, 45426, 45432, 45440, 45448,
            45453],
           dtype='int64', length=6534), 'NO2': Int64Index([    6,    10,    20,    27,    34,    41,    47,    55,    62,
               69,
            ...
            45389, 45396, 45404, 45411, 45417, 45429, 45436, 45442, 45445,
            45456],
           dtype='int64', length=6534), 'O3': Int64Index([    2,     8,    14,    24,    30,    37,    43,    51,    56,
               65,
            ...
            45390, 45400, 45405, 45415, 45418, 45427, 45430, 45437, 45446,
            45457],
           dtype='int64', length=6529), 'PM10': Int64Index([    4,    11,    18,    26,    32,    39,    45,    53,    60,
               67,
            ...
            45388, 45399, 45408, 45412, 45422, 45425, 45433, 45439, 45449,
            45451],
           dtype='int64', length=6397), 'PM25': Int64Index([    5,     7,    19,    21,    33,    40,    46,    54,    61,
               68,
            ...
            45394, 45397, 45402, 45414, 45419, 45424, 45434, 45441, 45447,
            45452],
           dtype='int64', length=6427)}

In [7]:
# Choose a group and print the first 3 rows (use .get_group)
print(grouped.get_group("CO").head(3))

                         time              location component  value  \
0   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        CO  298.1
12  2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark        CO  287.7
15  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark        CO  244.6

    airquality_index
0                  2
12                 2
15                 1

In [9]:
# Print each name and group in a for loop
for name, group in grouped:
    print(name)
    print(group.head())

CO
                         time              location component  value  \
0   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        CO  298.1
12  2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark        CO  287.7
15  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark        CO  244.6
22  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark        CO  219.9
28  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark        CO  214.5

    airquality_index
0                  2
12                 2
15                 1
22                 1
28                 1
FN
                         time              location component  value  \
3   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        FN   3.38
9   2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark        FN   1.87
17  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark        FN   1.66
25  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark        FN   0.76
31  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark        FN   0.49

    airquality_index
3                  3
9                  2
17                 2
25                 1
31                 1
NO
                         time              location component  value  \
1   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        NO    5.2
13  2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark        NO    1.4
16  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark        NO    0.7
23  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark        NO    0.4
29  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark        NO    0.3

    airquality_index
1                  1
13                 1
16                 1
23                 1
29                 1
NO2
                         time              location component  value  \
6   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark       NO2   31.9
10  2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark       NO2   19.4
20  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark       NO2   12.2
27  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark       NO2    8.6
34  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark       NO2    6.9

    airquality_index
6                  4
10                 2
20                 2
27                 1
34                 1
O3
                         time              location component  value  \
2   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        O3   30.7
8   2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark        O3   48.2
14  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark        O3   54.0
24  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark        O3   57.0
30  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark        O3   57.4

    airquality_index
2                  3
8                  4
14                 4
24                 4
30                 4
PM10
                         time              location component  value  \
4   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark      PM10  425.9
11  2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark      PM10   84.3
18  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark      PM10   29.6
26  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark      PM10   20.3
32  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark      PM10   22.4

    airquality_index
4                 11
11                 7
18                 3
26                 3
32                 3
PM25
                         time              location component  value  \
5   2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark      PM25  419.0
7   2019-01-01 02:00:00+01:00  Amsterdam-Vondelpark      PM25   62.5
19  2019-01-01 03:00:00+01:00  Amsterdam-Vondelpark      PM25   18.2
21  2019-01-01 04:00:00+01:00  Amsterdam-Vondelpark      PM25    7.4
33  2019-01-01 05:00:00+01:00  Amsterdam-Vondelpark      PM25    8.3

    airquality_index
5                 11
7                  7
19                 3
21                 1
33                 1

In [15]:
# Group the dataframe by component and airquality index and print the rows related to group
# "PM10" and index 11
airquality.groupby(["component", "airquality_index"]).get_group(('PM10', 11))

,time,location,component,value,airquality_index
4,2019-01-01 01:00:00+01:00,Amsterdam-Vondelpark,PM10,425.9,11
28304,2019-06-20 11:00:00+02:00,Amsterdam-Vondelpark,PM10,250.5,11

# 2. Apply step

There are many things you can do with the group objects we've created, some examples are
* Standard aggregations such as `.sum()` and `.mean()`
* More special aggregations using `.agg()`
* Any other transformations using your own defined functions

Another useful function you can call on a group is `.describe()`

In [19]:
# try using .describe() on the groups you get when you group by component
airquality.groupby("component").describe()

            value                                                          \
            count        mean        std     min     25%     50%      75%
component
CO         6489.0  334.225150  91.344264  156.60  283.70  314.00  361.600
FN         6549.0    0.700971   0.649833    0.04    0.31    0.49    0.860
NO         6534.0    2.608815   9.255303   -2.00    0.10    0.50    1.700
NO2        6534.0   20.814264  14.899702    1.80   10.40   16.10   26.075
O3         6529.0   54.440190  29.048798   -1.30   36.00   54.50   70.600
PM10       6397.0   18.389042  13.097900   -0.40   10.60   15.80   22.600
PM25       6427.0   10.456916  11.268769   -4.90    4.50    7.40   12.300

                   airquality_index                                          \
               max            count      mean       std  min  25%  50%  75%
component
CO         1985.80           6489.0  1.965018  0.356605  1.0  2.0  2.0  2.0
FN            8.79           6549.0  1.216674  0.469526  1.0  1.0  1.0  1.0
NO          203.80           6534.0  1.082492  0.403668  1.0  1.0  1.0  1.0
NO2         106.60           6534.0  2.485461  1.297840  1.0  2.0  2.0  3.0
O3          215.90           6529.0  4.042732  1.585158  1.0  3.0  4.0  5.0
PM10        425.90           6397.0  2.287479  1.055105  1.0  2.0  2.0  3.0
PM25        419.00           6427.0  1.754318  1.310677  1.0  1.0  1.0  2.0


            max
component
CO          5.0
FN          6.0
NO          7.0
NO2         8.0
O3         10.0
PM10       11.0
PM25       11.0

In [18]:
# Calculate the mean airquality_index of each component
airquality.groupby("component").airquality_index.mean()

component
CO      1.965018
FN      1.216674
NO      1.082492
NO2     2.485461
O3      4.042732
PM10    2.287479
PM25    1.754318
Name: airquality_index, dtype: float64

In [20]:
# try to get the mean as well as the total sum of the value of each component
airquality.groupby("component").value.agg(["sum", "mean"])

                  sum        mean
component
CO         2168787.00  334.225150
FN            4590.66    0.700971
NO           17046.00    2.608815
NO2         136000.40   20.814264
O3          355440.00   54.440190
PM10        117634.70   18.389042
PM25         67206.60   10.456916

In [21]:
# It is also possible to apply the aggregation specific for certain columns
# Can you try to get the sum of the value, and the mean of the airquality_index per component?
airquality.groupby("component").agg({"value": "sum", "airquality_index": "mean"})

                value  airquality_index
component
CO         2168787.00          1.965018
FN            4590.66          1.216674
NO           17046.00          1.082492
NO2         136000.40          2.485461
O3          355440.00          4.042732
PM10        117634.70          2.287479
PM25         67206.60          1.754318

You can also apply your own custom functions to groups, using `apply`. You can do this using `lambda` or a custom defined function.

In [23]:
# Try to get the max - min value of each component using a lambda function
airquality.groupby("component").value.apply(lambda group: group.max() - group.min())

component
CO      1829.20
FN         8.75
NO       205.80
NO2      104.80
O3       217.20
PM10     426.30
PM25     423.90
Name: value, dtype: float64

In [24]:
# Try to do the same but with a custom function
def max_min(group):
    return group.max() - group.min()

airquality.groupby("component").value.apply(max_min)

component
CO      1829.20
FN         8.75
NO       205.80
NO2      104.80
O3       217.20
PM10     426.30
PM25     423.90
Name: value, dtype: float64

Try to group the data per component and airquality_index and calculate the count of observations (hint: `size()`). Then turn the result into a dataframe.

In [38]:
airquality.groupby(["component","airquality_index"]).size().to_frame()

                               0
component airquality_index
CO        1                  521
          2                 5682
          3                  279
          4                    6
          5                    1
FN        1                 5252
          2                 1212
          3                   54
          4                   26
          5                    4
          6                    1
NO        1                 6192
          2                  206
          3                   93
          4                   32
          5                    6
          6                    3
          7                    2
NO2       1                 1474
          2                 2499
          3                 1285
          4                  732
          5                  330
          6                  165
          7                   47
          8                    2
O3        1                  565
          2                  684
          3                  675
          4                 1948
          5                 1733
          6                  613
          7                  211
          8                   80
          9                   15
          10                   5
PM10      1                 1339
          2                 2939
          3                 1358
          4                  573
          5                  129
          6                   34
          7                   13
          8                    4
          9                    4
          10                   2
          11                   2
PM25      1                 4221
          2                  937
          3                  444
          4                  505
          5                  183
          6                   71
          7                   52
          8                    8
          9                    2
          10                   3
          11                   1

This format isn't great, try to create a dataframe with a column for each airquality_index and the count a values in the cells.

In [45]:
grouped_df = airquality.groupby(["component","airquality_index"]).size().to_frame()
grouped_df.unstack().fillna(value=0)

                       0                                                      \
airquality_index      1       2       3       4       5      6      7     8
component
CO                 521.0  5682.0   279.0     6.0     1.0    0.0    0.0   0.0
FN                5252.0  1212.0    54.0    26.0     4.0    1.0    0.0   0.0
NO                6192.0   206.0    93.0    32.0     6.0    3.0    2.0   0.0
NO2               1474.0  2499.0  1285.0   732.0   330.0  165.0   47.0   2.0
O3                 565.0   684.0   675.0  1948.0  1733.0  613.0  211.0  80.0
PM10              1339.0  2939.0  1358.0   573.0   129.0   34.0   13.0   4.0
PM25              4221.0   937.0   444.0   505.0   183.0   71.0   52.0   8.0


airquality_index    9    10   11
component
CO                 0.0  0.0  0.0
FN                 0.0  0.0  0.0
NO                 0.0  0.0  0.0
NO2                0.0  0.0  0.0
O3                15.0  5.0  0.0
PM10               4.0  2.0  2.0
PM25               2.0  3.0  1.0

# 3. Transformations

So far we've using functions on the groups, usually returning one value per group. The `transform` method returns an object that is indexed the same (so the same size) as the one being grouped.

Let's start with a small example. Write a function which returns the difference between a column's value and the mean of the column. Then use `transform` to apply the function to each group of component.

In [54]:
def diff_mean(x):
    return x - x.mean()

In [55]:
transformed = airquality.groupby("component").transform(lambda x: diff_mean(x))
print(f"Original df shape: {airquality.shape}, transformed df shape: {transformed.shape}")
print(transformed.head())

Original df shape: (45459, 5), transformed df shape: (45459, 2)
        value  airquality_index
0  294.441038         -3.510353
1    4.918128         -1.681640
2   28.825906          0.449635
3    2.301305          0.408720
4  424.496031          8.831990

Let's add the new columns to our dataframe and look at the result.

In [57]:
airquality[["value_diff_mean", "airquality_index_diff_mean"]] = transformed
print(airquality.head())

                        time              location component   value  \
0  2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        CO  298.10
1  2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        NO    5.20
2  2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        O3   30.70
3  2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark        FN    3.38
4  2019-01-01 01:00:00+01:00  Amsterdam-Vondelpark      PM10  425.90

   airquality_index  value_diff_mean  airquality_index_diff_mean
0                 2       294.441038                   -3.510353
1                 1         4.918128                   -1.681640
2                 3        28.825906                    0.449635
3                 3         2.301305                    0.408720
4                11       424.496031                    8.831990

Another example where `transform` could be useful is when you want to standardize your data.

In the next cell block, try to standardize the data by grouping per component and using the method of substracting by the mean and dividing by the standard deviation. Add the columns to the new df and assert that indeed the mean of the columns is zero and the standard deviation 1.

In [64]:
airquality = airquality.drop(["value_diff_mean", "airquality_index_diff_mean"],axis=1)

In [66]:
def standardize(x):
    return (x - x.mean()) / x.std()

In [68]:
airquality[["value_standardized", "airquality_index_standardized"]] = \
    airquality.groupby("component").transform(lambda x: standardize(x))

In [71]:
# Assert that the columns are correct
print(airquality.value_standardized.mean())
print(airquality.value_standardized.std())
print(airquality.airquality_index_standardized.mean())
print(airquality.airquality_index_standardized.std())

-1.0003461380286942e-17
0.9999340028378061
7.002422966200859e-17
0.9999340028378061

Another useful application of `transform` is when you have missing values.
If you like, you can corrupt the value column of the data using the code below by adding random missing values to it (with a 10 percent chance), and then try to impute them for example with the average per group.

In [82]:
import numpy as np
airquality["value_with_nan"] = airquality.value.mask(np.random.random(airquality.shape[0]) < .1)

In [83]:
print(airquality.isnull().sum())

time                                0
location                            0
component                           0
value                               0
airquality_index                    0
value_standardized                  0
airquality_index_standardized       0
value_with_nan                   4520
dtype: int64